/** CSS STYLE **/
*{
	margin: 0;
	padding: 0;
}
:root{
	--header-height: 70px;
}
body{
	font-family: Roboto;
	font-size: 16px;
	color: #303846;
}
.logo-img{
	width: 30px;
	vertical-align: middle;
	padding-right: 10px; 
}
.header{
	font-weight: bold;
	display: flex;
	background-color: white;
	position: fixed;
	justify-content: space-between;
	height: var(--header-height);
}
.menu{
	display: flex;
	width: 75%;
	justify-content: flex-end;
}
.header .menu ul{
	display: flex;
	list-style: none;
	align-items: center;
}
.header .menu ul li a{
	text-decoration: none;
	color: #303846;
	padding: 10px; 
}
.logo-items{
	display: flex;
	width: 25%;
	align-items: center;
}
.logo-name{
	line-height: var(--header-height);
}
.p-10{
	padding: 10px;
}
.p-40{
	padding: 40px;
}
.p-50{
	padding: 50px;
}
.top-section{
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
	background-position: 0 60%;
}
.top-section-container{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
}
main{
	padding-top: var(--header-height);
}
.top-section-logo-img{
	width: 100px;
}
.p-30{
	padding: 30px;
}
.top-section-text{
	color: white;
	text-align: center;
}
.top-section-text h1{
	font-size: 3em;
}
.top-section-text h5{
	font-size: 1.2em;
}
.top-section-button input{
	color: white;
	background-color: transparent;
	border-color: white;
	width: 160px;
	height: 40px;
	font: inherit;
	font-weight: bold;
	border: 2px solid white;
}
.p-20{
	padding: 20px;
}
.p-bottom-20{
	padding-bottom: 20px;
}
.w-1000{
	width: 1000px;
}
.w-1200{
	width: 1200px;
}
.w-600{
	width: 600px;
}
.main-container{
	margin: 0 auto;
	display: flex;
	align-content: center;
}
.w-33{
	width: 33.33%;
}
.w-40{
	width: 40%;
}
.advantages{
	background-color: white; 
}
.about{
	background-color: #f7f7f7;
}
.rest-places{
	background-color: white; 
}
.main-section-img-moon1,.main-section-img-moon2{
	width: 70%;
}
.main-section-img-moon2{
}
.order{
	background-color: #f7f7f7;
	font-weight: bold;
}
.section-container{
	align-content: center;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.w-50{
	width: 50%;
}
.fieldset-container{
	display: flex;
	width: inherit;
	flex-direction: column;
}
.fieldset-container div{
	display: flex;
}
.form-items{
	width: 50%;
}
.margin-bottom-10{
	margin: 0 0 10px;
}
.send-button input{
	margin-top: 10px;
}
legend{
	color: #30d5c8;
	font-size: 1.5em;
}
fieldset{
	border-color: #30d5c8;
}
input,select{
	height: 50%;
	position: relative;
	top: 25%;
}
.w-150{
	width: 150px;
}
.border-radius-6{
	border-radius: 6px;
	border: 1px solid grey;
}
.order-header{
	text-align: center;
	font-size: 1.2em;
}
.send-button input{
	border: 2px solid #30d5c8;
	width: 160px;
	height: 40px;
	font: inherit;
	color: #30d5c8;
	margin: 0 0 30px;
}
.transparent{
	background-color: transparent;
}
footer{
	background-color: #303846;
}
.footer-container{
	margin: 0 auto;
	display: flex;
	padding: 30px 10px 10px;
}
.footer-container div{
	width: 33.33%;
}
.footer-logo{
	display: flex;
	flex-direction: column;
}
.footer-logo-items{
	display: flex;
}
.text-color-white{
	color: white;
}
.footer-logo-name{
	line-height: 25px;
	white-space: nowrap;
}
.copyright{
	margin-top: 20px;
	font-weight: 100;
	text-align: center;
	opacity: 0.6;
}
.footer-docs ul li a, .footer-about ul li a{
	text-decoration: none;
	color: white;
	font-size: 0.7em;
}
.footer-docs-title, .footer-about-title{
	white-space: nowrap;
}
.footer-docs-list, .footer-about-list{
	padding-left: 30px;
	padding-top: 15px;
}
.w-60{
	width: 60%;
}
.w-40{
	width: 40%;
}