/** CSS STYLE **/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #303846;
	background-color: grey;
}
.logo-img{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	padding-right: 10px; 
}
header{
	display: flex;
	background-color: white;
	height: 50px;
	position: fixed;
	width: 100%;
}
nav{
	display: flex;
	width: 85%;
	justify-content: flex-end;
}
header nav ul{
	display: flex;
	list-style: none;
	align-items: center;
}
header nav ul li a{
	text-decoration: none;
	color: #303846;
	padding: 10px; 
}
.logo-items{
	display: flex;
	width: 15%;
	align-items: center;
}
.logo-name{
	line-height: 50px;
}
.p-10{
	padding: 10px;
}
main{
	padding-top: 50px;
	background-image: url(../images/banner.png);
	height: 300px;
	background-position: 0 60%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.main-logo-img{
	width: 100px;
	height: 100px;
}
.p-30{
	padding: 30px;
}
.main-text{
	color: white;
	text-align: center;
}
.main-button input{
	width: 200px;
	height: 50px;
	color: white;
	background-color: transparent;
	border-radius: 6px;
	font: inherit;
	font-weight: 200;
}
.p-20{
	padding: 20px;
}
