/** CSS STYLE **/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Roboto;
	font-weight: bold;
	font-size: 16px;
	color: #303846;
	background-color: grey;
}
.logo-img{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	padding-right: 10px; 
}
header{
	display: flex;
	background-color: white;
	height: 50px;
	position: fixed;
	width: 100%;
}
nav{
	display: flex;
	width: 75%;
	justify-content: flex-end;
}
header nav ul{
	display: flex;
	list-style: none;
	align-items: center;
}
header nav ul li a{
	text-decoration: none;
	color: #303846;
	padding: 10px; 
}
.logo-items{
	display: flex;
	width: 25%;
	align-items: center;
}
.logo-name{
	line-height: 50px;
}
.p-10{
	padding: 10px;
}
.top-section{
	padding-top: 50px;
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
	height: 300px;
	background-position: 0 60%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.top-section-logo-img{
	width: 100px;
	height: 100px;
}
.p-30{
	padding: 30px;
}
.top-section-text{
	color: white;
	text-align: center;
}
.top-section-button input{
	width: 200px;
	height: 50px;
	color: white;
	background-color: transparent;
	border-radius: 6px;
	font: inherit;
	font-weight: 200;
	border-color: white;
}
.p-20{
	padding: 20px;
}
.w-1000{
	width: 1000px;
}
.main-container{
	margin: 0 auto;
	display: flex;
	align-content: center;
}
main{
	height: 600px;
}
.h-33{
	height: 33.33%;
}
.w-33{
	width: 33.33%;
}
.w-50{
	width: 50%;
}
.advantages{
	background-color: white; 
}
.about{
	background-color: #f7f7f7;
}
.rest-places{
	background-color: white; 
}
.main-section-img-moon1,.main-section-img-moon2{
	width: 50%;
}
.main-section-img-moon2{
	position: relative;
	left: 30%;
}